@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

header{
   height: 100vh;
}
   header::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rebeccapurple;
      background-image: url('../images/RetroRealm_bg_2.png');
      background-size: cover;
      display: block;
      width: 100vw;
      height: 100vh;
      z-index: -10;
   }

   header h2{
      color: #E8DDB5;
      font-family: 'Kode Mono';
      font-size: 32px;
   }

#header-text-grid{
   display: grid;
   grid-template-rows: 20% 20% 20% 20% 20%;
   grid-template-columns: 10% 20% 25% 25% 10%;
}

#header-text-bg{
   grid-area: 6 / 3 / 7 / 5;
   /* grid-column-start: 3;
   grid-column-end: 5;
   grid-row-start: 6; */
   background-color: rgba(178, 201, 171, 0.1);
} 


h1{
   color: #3D405B; 
   font-family: 'Monserrat', sans-serif;
   font-size: 48px;
   stroke: #E8DDB5;
   -webkit-text-stroke: #E8DDB5 .02em;
}

h2{
   color: #3D405B; 
   font-family: 'Monserrat', sans-serif;
   font-size: 24px;
   stroke: #E8DDB5;
   stroke-width: 1em;
}

#secao-apresentacao{
   display: flex;
   align-items: center;
   padding: 2rem;
   gap: 5rem;
   height: 100vh;
}

   #secao-apresentacao img{
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
   }

#texto-apresentacao{
   color: black;
}
#texto-apresentacao h2{
   font-size: 2.25rem;
}
#texto-apresentacao p{
   font-size: 1.25rem;
}

#secao-jogos{
   height: 100vh;
   background-color: #3D405B;
}

#secao-jogos ul{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   place-items: center;
   height: 100%;
}

#secao-jogos li{
   list-style: none;
}

.card{
   max-height: 420px;
   max-width: 300px;
   position: relative;
   cursor: pointer;
}

.card .image{
   height: 100%;
   width: 100%;
}

.image img{
   height: 100%;
   width: 100%;
}

.card .texto{
   position: absolute;
   top: 0;
   opacity: 0;
   transition: opacity 500ms;
}

.card:hover .texto{
   opacity: 1;
   
}